.container-todo {
  margin-top: 3em;
  width: 70%;
  background: #f8f9fa;
  box-shadow: 0 5px 10px rgba(27, 58, 182, 0.05),
    0 15px 40px rgba(36, 68, 197, 0.2);
}
.container-list {
  width: 70%;
  background: #f8f9fa;
  box-shadow: 0 5px 10px rgba(27, 58, 182, 0.05),
    0 15px 40px rgba(36, 68, 197, 0.2);
  margin: 3em auto;
}
